
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="../stylesheets/registerDog.css" rel="stylesheet">
  <title>Sheltair</title>
</head>
<body>

  <section class="container">
    <div class="cont">      
<form action="/registerShelter" method="POST" enctype="multipart/form-data">
  <div class="container1 register-box1">
    <h1>Empieza la Busqueda</h1>  
    <label for="exampleFormControlInput1">Tu nombre</label>
    <input type="text" name="name"  class="form-control" id="exampleFormControlInput1" placeholder="juan" required>
  </div>
    <div class="form-group">
    <label for="color">Apellido</label>
    <input type="" id="color1" name="lastName" placeholder="perez" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="color">Email</label>
    <input type="email" id="color" name="email" placeholder="perritos@perritos.com" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="user">Username</label>
    <input type="text" class="form-control" id="address"  name="username" required>
   </div>
    <div class="form-group">
    <label for="pass4">Introduce tu contraseña</label>
    <input type="password" class="form-control" id="pass4" name="password" required> 
    </div>
    <div class="form-group">
    <label for="pass4">Introduce tu contraseña</label>
    <input type="password" class="form-control" id="passs4" name="password2" required>
    </div>

    <button type="submit" class="btn btn-secondary alinear">Sign Up</button>
    
    
    </div>

    <img id="face" style="width: 40%" style="margin-left: 100px" src="https://comedydefensivedriving.com/images2011/fb-sign-in-button.png">

        </form>
    </div>
</section>
{{!--       <section class="cover">
        <div class="login-box">
         <h1>Empieza la busqueda</h1>

          <p style="color:red">
              {{#if err}}{{err}}{{/if}}
          </p>

         <form validated action="/signup" method="POST">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" id="inputEmail4" name="name" value="{{name}}" placeholder="Nombre">
              </div>
               <div class="form-group col-md-6">
                <label for="inputEmail4">Apellido</label>
                <input type="text" class="form-control" id="inputEmail4" name="lastName" value="{{lastName}}" placeholder="Apellido">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" value="{{email}}" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Username</label>
                <input type="text" class="form-control" id="inputEmail4" name="username" value="{{username}}" placeholder="username">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password" value="{{password}}" placeholder="Password">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Repite tu password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password2" value="{{password2}}" placeholder="Password">
              </div>
            </div>--}}
            
          


</body>
</html>

<script>
    var button = document.getElementById('face');
    button.addEventListener('click', function(){
        var click = window.location.href="https://sleepy-lowlands-81745.herokuapp.com/facebook";
        click.trigger('click');
  })
</script>


