{{#each this}}
<img src="{{photo}}" class="shelter"> 
<h1>Nombre del Refugio: {{name}}</h1>
<article>Email: {{email}}</article>
<p>Localizacion: {{location.address}}</p>
<div id="map"></div>

{{/each}}



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeU5wvSFhoHGD1YkXYnGh6DjskJp-LkRI"></script>

<script>
    let center = {
        lat:{{location.coordinates.[1]}},
        lng:{{location.coordinates.[0]}}
    };
    let title = '{{name}}'
    const map = new google.maps.Map({
        document.getElementById('map'),
        {
            center,
            zoom:15
        }
    })
    const marker = new google.maps.Marker({
        map,
        position:center,
        title,
        animation: google.maps.Animation.BOUNCE
    })
</script>