<img src="{{photo}}" alt="" class="shelter">
<h1>Nombre del refugio: {{name}}</h1>
<p>{{email}}</p>
<p>{{location.address}}</p>



<div id="map"></div>

<a href="/shelterList">Regresar</a>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeU5wvSFhoHGD1YkXYnGh6DjskJp-LkRI"></script>

<script>
    let center = {
        lat:{{location.coordinates.[1]}},
        lng:{{location.coordinates.[0]}}
    };
    let title = '{{name}}'
    const map = new google.maps.Map(
        document.getElementById('map'),
        {
            center,
            zoom:15
        }
    )
    const marker = new google.maps.Marker({
        map,
        position:center,
        title,
        animation: google.maps.Animation.BOUNCE
    })
</script>