   <header>
     <h2>Tus nuevos amigos</h2>
     {{!-- <a href="/myShelters">Volver a tus Sheltair</a> --}}
   </header>

    <div>
        {{#each dogs}}
        <h2>{{this.nombre}}</h2>

        <img src="{{this.photoURL}}" alt="fotoerror" height="75px" width="100px">
        <p>
           La raza:{{this.raza}}
        </p>

        <p>
            Talla: {{this.talla}}
        </p>

        <p>
            color: {{this.color}}
        </p>

        <p>{{usuarioLogeado }} --- {{this.shelter.user}}</p>

    

      {{/each}}
       <a href="/shelterList"><h3>Ir a los Sheltairs</h3></a> 

      
     

    
    </div>

    <footer>
      

    </footer>
