<section>
	<img src="{{ob.shelter.photo}}" alt="" class="shelter">
	<h1>Nombre del refugio: {{ob.shelter.name}}</h1>
	<p>{{ob.shelter.email}}</p>
	<p>{{ob.shelter.location.address}}</p>
</section>

{{!-- El shelter detail sea el perfil despues de rellenar el formulario de crear --}}
{{!-- Introducir los perros eso se hace con populate --}}
{{!-- Que el shelter solo sea del usuario y sus dogs--}}

<div id="map"></div>

<footer>

	{{#if ob.[0]}}

		<a href="/registerDog">Registrar tus Peludos!!</a>
		<a href="/eliminarSheltair">Eliminar Sheltair</a>
		<a href="/myShelters">Ir a tus Sheltairs</a>

			{{else}}

		<a href="/">Ir a Inicio</a>
		<a href="/listDogs"></a>

	{{/if}}

</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeU5wvSFhoHGD1YkXYnGh6DjskJp-LkRI"></script>

<script>
let center = {
	lat:{{ob.shelter.location.coordinates.[1]}},
	lng:{{ob.shelter.location.coordinates.[0]}}
		};
	let title = '{{name}}'
	const map = new google.maps.Map(
	document.getElementById('map'),
{
	center,
	zoom:15
}
)
const image = {
	url: "https://png.icons8.com/metro/1600/dog.png",
	scaledSize: new google.maps.Size(20, 20)  
};

	const marker = new google.maps.Marker({
	map,
	position:center,
	icon: image,
	title,
	animation: google.maps.Animation.BOUNCE
	})

</script>