
{{!-- <form method="post" id="doFollow" action="/follow/{{_id}}">
</form> --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="../stylesheets/profile.css" rel="stylesheet">
  <title>Sheltair</title>
</head>
<body>
      <section id="cover">
          <div>
              
          </div>      
    </section>     
       <section>
            <img id="photo" src="{{usuario.photoURL}}">
                <form action="/registerShelter">
                    <button type="submit" class="btn btn-warning submit">Become a sheltair!</button>
                </form>
                <form action="/shelterList">
                    <button type="submit" class="btn btn-warning submit2">Explore sheltairs</button>
                </form>
                <section class="barra">
                    <article>
                        <div class="first">
                            <h4>Shelters</h4>
                            <h3>0</h3>
                        </div>
                        <div class="first">
                            <h4>Rescued Dogs</h4>
                            <h3>1</h3>
                        </div>
                        <div>
                            <button id="follow">
                                Follow
                                {{!-- {{text}} --}}
                            </button>
                        </div>
                    </article>
                </section>
                    <div class="header">
                       <h2>{{usuario.name}}'s Profile</h2>
                    </div>
                    <div class="bio-area">
                        <h3><span style="text-decoration:underline">Ciudad:</span> Ciudad de Mexico</h3>
                        <br />
                        <h3><span style="text-decoration:underline">Edad: </span>22</h3>
                        <br />
                        <h3><span style="text-decoration:underline">Animal/es:</span> Perros,gatos</h3>
                    </div>
                    <div class="feed">
                       <h1>{{usuario.name}}'s Feed</h1>
                       <div>
                           {{#each dog as |post|}}
                        <div>
                            {{post.created_at}}
                            <p>
                            {{post.nombre}}- <img width="50" src="{{post.photoURL}}" alt="">
                            </p>
                        </div>
                            {{/each}}
                       </div>
                    </div>
                    

           

            <form id="form" action="/profile" method="POST" enctype="multipart/form-data">
                <input onchange="submitForm()" name="photo" id="file" style="display:none" type="file">
            </form>
       </section>
       

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

{{!-- <script>
    var button = document.getElementById('fb');
    button.addEventListener('click', function(){
        var click = window.location.href="http://localhost:3000/facebook";
        click.trigger('click');
  })
</script> --}}
<script>
    document.getElementById('photo').addEventListener('click', function(){
        document.getElementById('file').click();
    });

    function submitForm(e){
       document.getElementById('form').submit();
    }
</script>
<script>
  var home = document.getElementById('small-logo');
    home.addEventListener('click', function(){
        var plis = window.location.href="http://localhost:3000/";
        plis.trigger('click');
  })
</script>
<script>
    var account = document.getElementById('dropdown');
        account.innerText= "{{usuario.name}}"
</script>