

    <div>
        {{#each this}}
        <h2>{{nombre}}</h2>

        <img src="{{photoURL}}" alt="fotoerror" height="75px" width="100px">
        <p>
           La raza:{{raza}}
        </p>

        <p>
            Talla: {{talla}}
        </p>

        <p>
            color: {{color}}
        </p>
        {{/each}}
    </div>
